@{
    ViewData["Title"] = "Home Page";
}

<h4>Remote web management extension for <a href="http://aiominer.com" target="_blank">AIO Miner</a></h4>
<h4><a href="https://github.com/ayyodev/aioremoteextension/releases" target="_blank">Download</a> the client, <a href="/Account/Register">Register</a> and <a href="/Home/Dashboard">manage</a> your workers</h4>
<h2>Demo</h2>
<video width="1024" src="~/video/aioremoteextensiondemo.mp4" autoplay controls/>